@import '../scss/main.scss';
.cls{
    background-color: $background-clr;
    min-height: 98vh;
    width: 98vw;
}
.cardbodystyle{
    background: $primary-white 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 16px $shadow-color;
    border-radius: 8px;
    opacity: 1;
}
h5{
    font-weight: $fw-700;
    color: $primary-clr;
}
.btn-style{
    @include button($title-clr,$primary-clr, $shadow-color);
}
.error-text{
    color: $primary-red-dark;
    opacity: 1;
    font-size: $fs-12;
    height: 16px;
}
.texxt{
    font-size: $fs-16;
    font-weight: $fw-500;
    &.head{
      color: $title-clr;   
    }
    &.val{
        color: $primary-clr;
    }
}